@charset "UTF-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background-color: #3B6759;
    overflow-x: hidden;
   font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-shadow: 0px 0px #DFDED7;
    text-align: left;
}
.textos h1 {
    font-size: 42px;
    font-weight: bold;
}
.textos h2 {
    font-size: 26px;
}


.animaContent {
    display: grid;
    overflow-x: hidden;
    top: 0px;
}

.lineWater{
	display: flex;
	position: absolute;
	top: -54px;
	z-index: 10;
	justify-self: center;
	padding-left: 300px;
	overflow-x: hidden;
        }

body header {
	position: fixed;
	top: 0px;
	z-index: 13;
	width: 100%;
}


/*menu responsive*/
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2B5246;
    padding: 15px;
}

.navbar .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px;
  transition: 0.3s;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    padding: 20px;
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }

  .nav-links.active {
    display: flex;
  }

}
